body {
    background-color: #444;
}

#container {
    background-color: #222;
    padding-left: auto; 
    padding-right: auto;
    margin: auto;
    width: 1080px;
    height: 100%;
}

.navbar {
    outline: 1px dotted red;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
}

.navbar li {
    color: #fff;
    font-family: verdana;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
    padding-left: auto;
    padding-right: auto;
}

.navbar li:hover {
    padding: 0 20px 0 20px;
    background-color: green;
}