body {
    background-color: #444;
}

#container {
    background-color: #222;
    padding-left: auto; 
    padding-right: auto;
    width: 1080px;
    height: 100%;
}

.navbar {
    padding-left: auto;
    padding-right: auto;
}

.navbar * {
    background-color: #000;
    color: #fff;
    display: inline;
    transition-delay: 0.4s;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar ul li {
    color: #fff;
    font-family: verdana;
    display: inline;
}

.navbar ul li:hover {
    padding: 0 20px 0 20px;
}