@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Light.ttf') format('truetype');
}

* {
    padding: 0; margin: 0;
    color: #fff;
    /*outline: 1px dotted red;*/
 }

html{
    min-height: 100% !important;
    height: 100%;
}

body {
    background-image: 
        linear-gradient(to right,
            rgba(255, 1, 234, 0.8) -25%,
            rgba(0,0,0,1) 50%,
            rgba(0, 195, 255, 0.8) 125%);
    /*url("images/artsy-backlit-conceptual-1722072.jpg");    */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin: 0;
    padding: 0;
    position: relative;
 }

#container {
    /*background-color: #111;
    max-width: 1080px !important;*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
    opacity: 100%;
    font-family: OpenSans;
}

#navbar, ul {
    margin: 20px 0 0 0;
    /*background-color: #111;*/
    text-align: center;
    padding: 0;
    height: auto;
}

@media screen and (max-width:720px) {
    #navbar ul li { float: none;}
    #container { width: 100%; }
}

/*#footer {
    background-color: #000;
    text-align: center;
    padding: 0;
    height: 40px;
    margin-top: -40px;
}*/

ul {
    list-style: none;
    display: inline-block;
    overflow: hidden;
    margin: 0 0 -4px 0;
}

ul li {
    float: left;
    margin: 0 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

li{
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    padding: 10px 0 10px 0;
    float: left;
}

hr {
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    margin: 0 auto;
}

hr:not(.active) {
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    visibility:hidden;
}

li:hover {
    padding: 10px 30px;
    /*background-image: linear-gradient(to right, #000, #222, #000);*/
}

li:hover hr{
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    width: 80%;
    visibility: visible;
}

#content {
    padding: 0;
    margin: auto 0;
    height: calc(100%);
}

#content1, #content2 {
    width: 50%;
    float: left;
    text-align: center;
    padding: auto 0;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 100px 0;
}